*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Cantarell', sans-serif;
  color: #000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Cantarell', sans-serif;
}

body {
  height: min-content;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Cantarell', sans-serif;
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  ul {
    list-style: none;
  }
  input[data-autocompleted] {
    background-color: transparent !important;
  }
}
